@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;

  @apply bg-gray-50 font-Nunito;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 112.5em) {
  html {
    font-size: 80%;
  }
}

// login
.bg-transition {
  animation: widthAnimation 1s ease-in-out;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}

.bg-out-transition {
  transition: opacity 0.1s ease-in-out;
  animation: widthAnimation-01 0s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 1.3s;
}

.fadeInLogin * {
  animation: fadeIn 1s ease;
  animation-delay: 1.3s;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes widthAnimation {
  0% {
    @apply w-full rounded-3xl;
  }

  50% {
    @apply w-full rounded-2xl;
  }

  100% {
    @apply rounded-tr-none rounded-br-none w-2/5;
  }
}

@keyframes widthAnimation-01 {
  0% {
    @apply w-0 px-0 opacity-0;
  }

  100% {
    @apply opacity-100;
  }
}

// button spinner
.loading {
  display: inline-block;
  @apply w-xs h-xs;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
