@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../components/Table/Table.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;

  @apply bg-gray-50 font-Nunito;
}

* {
  @apply font-Nunito;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 112.5em) {
  html {
    font-size: 80%;
  }
}

// PAGINATION
.inactive_item {
  @apply text-gray-500 hover:bg-gray-200 cursor-pointer py-sm px-sm hover:text-gray-800 rounded-lg  sm:text-2xl;
}

.active_item {
  @apply text-gray-800 bg-gray-200 shadow-E100 cursor-pointer py-6 px-6 hover:bg-gray-400 rounded-lg  sm:text-2xl;
}

.button-nav {
  @apply cursor-pointer rounded-lg py-6 px-4 shadow-E100 bg-gray-100  hover:bg-gray-300 active:inset-4 active:bg-gray-300;
}
